@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GeistSans";
    src: url("/fonts/GeistVF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "GeistMono";
    src: url("/fonts/GeistMonoVF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: "GeistSans", sans-serif;
  }

  :root {
    --nav-height: 60px;
  }

  :root.light {
    --foreground: #000;
    --background: #fff;
  }

  :root.dark {
    --foreground: #fff;
    --background: #000;
  }
}
