@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GeistSans";
    src: url("/fonts/GeistVF.woff2") format("woff2");
    /* url("/fonts/GeistVF.woff") format("woff"); */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "GeistMono";
    src: url("/fonts/GeistMonoVF.woff2") format("woff2");
    /* url("/fonts/GeistMonoVF.woff") format("woff"); */
    font-weight: normal;
    font-style: normal;
  }
}
