@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-stone-50 font-mono dark:bg-stone-950;
  }
  :root {
    --page-width: 1024px;
  }
  a {
    @apply text-gray-800 transition dark:text-gray-400;
  }
  a:hover {
    @apply hover:underline dark:text-gray-200;
  }
}

@layer components {
  .ink {
    @apply text-stone-900 transition hover:text-stone-600 dark:text-stone-300 dark:hover:text-stone-100;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    /* @apply bg-white; */
  }
}
