@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color */
    --brand: 0 98% 65%;
    --brand-light: 0 98% 75%;

    /* Size */
    --max-width: 1024px;
    --nav-height: 48px;
    --text-primary: 1.6rem;
  }

  :root.light {
    --foreground: 0 0 0;
    --background: 0 0 100;
    --background-secondary: hsl(0 0 80%);
  }

  :root.dark {
    --foreground: 0 0 100;
    --background: 0 0 5;
    --background-secondary: hsl(0, 0%, 20%);
  }
  .prose {
    max-width: none;
  }

  :root.light .prose {
    --tw-prose-code: green;
  }

  :root.dark .prose {
    --tw-prose-code: greenyellow;
  }
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
