* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.prose {
  max-width: 90ch !important;
}

code {
  color: rgba(0, 255, 179, 0.745) !important;
  /* @apply font-mono; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  pre {
    color: rgba(0, 255, 179, 0.745) !important;
  }
}
