.markdown * {
  @apply mb-4;
}

/* # */
.markdown h1 {
  @apply text-4xl;
}

/* ## */
.markdown h2 {
  @apply text-3xl;
}

/* ### */
.markdown h3 {
  @apply text-2xl;
}

/* #### */
.markdown h4 {
  @apply text-xl;
}

.markdown p {
  @apply text-lg;
}

.markdown code {
  font-family: "Roboto Mono";
  /* @apply text-sm;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  padding: 0.2em 0.4em; */
}

.markdown p > code {
  @apply text-sm;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown pre code {
  @apply rounded-md;
}

.markdown img {
  @apply rounded-md;
}

.markdown ul {
  list-style: disc;
  padding-left: 18px;
}
