@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");

.markdown * {
  @apply mb-5;
}

/* # */
.markdown h1 {
  @apply text-2xl md:text-3xl dark:text-white font-bold;
}

/* ## */
.markdown h2 {
  @apply text-xl md:text-2xl dark:text-white font-bold;
}

/* ### */
.markdown h3 {
  @apply text-lg md:text-xl dark:text-white font-bold;
}

/* #### */
.markdown h4 {
  @apply text-base md:text-lg dark:text-white font-bold;
}

/* Content */
.markdown p {
  @apply text-base md:text-lg dark:text-[#d7d5d5];
}

.markdown code {
  @apply text-sm md:text-base;
  font-family: "Source Code Pro", monospace;
}

.markdown p > code {
  @apply text-sm md:text-base;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown li code {
  @apply text-sm md:text-base;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown pre code {
  @apply rounded-md;
}

.markdown img {
  @apply rounded-md;
}

.markdown ul {
  list-style: disc;
  @apply pl-6 md:pl-9 text-base md:text-lg;
}

.markdown a {
  color: rgb(22, 171, 134);
}

.markdown a:hover {
  color: rgb(22, 194, 151);
}

.markdown ol {
  list-style: decimal;
  @apply pl-8 md:pl-12 text-base md:text-lg;
}

.markdown h2 code {
  @apply text-base md:text-lg;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown img {
  @apply py-2 rounded-md;
}
