@import "./tailwind.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  border-radius: 10px !important;
  color: rgb(20, 178, 120) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
