@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color */
    --foreground-hsl: 240 100% 10%;
    --foreground-link-hsl: 15 90% 50%;
    --background-hsl: 60 50% 95%;
  }
}

@layer components {
  .link {
    @apply font-bold transition-all text-foregroundLink  hover:underline;
  }
}
