---
import { SITE_TITLE } from '@/config'
import '../styles/globals.css'
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sm:max-w-[823px] mx-auto w-full pt-8 p-6">
      <h1 class="text-5xl font-medium mb-10">
        <a class="hover:underline" href="/">{SITE_TITLE}</a>
      </h1>
      <nav
        class="flex justify-between text-gray-500 border-b border-b-slate-600 pb-6"
      >
        <div>
          <a class="hover:underline" href="/posts">posts</a>
        </div>
        <div class="flex justify-between gap-3">
          <div>
            <a
              target="_blank"
              class="hover:underline"
              href="https://github.com/leejss">github</a
            >
          </div>
          <div>
            <a
              target="_blank"
              class="hover:underline"
              href="https://www.linkedin.com/in/%EC%A2%85%EC%84%9C-%EC%9D%B4-5aa73a224/"
              >linkedin</a
            >
          </div>
        </div>
      </nav>
      <main class="pb-8">
        <slot />
      </main>
    </div>
  </body>
</html>
